[Unit]
Description=Check for new Contact Manager images every two minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=15s
RandomizedDelaySec=15s
Persistent=true
Unit=contact-manager-update.service

[Install]
WantedBy=timers.target
